* {
	box-sizing: border-box;
}

body {
	font-family: vazir;
	direction: rtl;
}

/* navBar Styles */
.navbar {
	z-index: 899;
}

.navbar a {
	color: #3f3f3fa1;
	font-size: 16px;
}

.navbar .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90px;
}

.navbar .icon,
.side-menu .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	background-color: #ed1b36;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0 0 10px #ed1b36;
}

.navbar .icon img,
.side-menu .icon img {
	width: 65%;
}

.navbar .dark-icon {
	font-size: 18px;
	color: #ed1b36;
}

.navbar ul a:hover {
	color: #3f3f3f;
}
.nav-item {
	position: relative;
}

.navbar .nav-item::after {
	content: "";
	width: 0;
	height: 3px;
	background-color: #ff3547;
	border-radius: 10px;
	position: absolute;
	top: 40px;
	right: 15px;
	transition: 0.9s;
}

.navbar .nav-item:hover::after {
	width: 40%;
}

.navbar .btn {
	padding: 15px 47px;
	font-size: 12px;
	font-weight: bold;
	border-radius: 0.75rem;
	-webkit-border-radius: 0.75rem;
	-moz-border-radius: 0.75rem;
	-ms-border-radius: 0.75rem;
	-o-border-radius: 0.75rem;
}

/* sideMenu styles */

.navbar .menu-btn {
	display: none;
	padding: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.navbar .menu-btn span {
	width: 25px;
	height: 2px;
	background-color: #000000;
	margin: 2px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
}

.side-menu {
	width: 300px;
	height: 100vh;
	position: fixed;
	top: 0;
	right: -100%;
	background-color: #3f3f3f;
	transition: all 1s;
	z-index: 901;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	visibility: hidden;
}

.side-menu.active {
	right: 0;
	visibility: visible;
}

.side-menu ul a {
	color: #ffffff8a;
}

.side-menu ul a:hover {
	color: #fffffff3;
}

.side-menu .nav-link {
	padding: 15px;
}

.side-menu .nav-item {
	border-bottom: 1px solid #2222223b;
	transition: background 0.9s;
	-webkit-transition: background 0.9s;
	-moz-transition: background 0.9s;
	-ms-transition: background 0.9s;
	-o-transition: background 0.9s;
}

.side-menu .nav-item:hover {
	background-color: #2e2e2e;
}

.side-menu .nav-item::after {
	content: "";
	width: 0;
	height: 3px;
	background-color: #ff3547;
	border-radius: 10px;
	position: absolute;
	bottom: 0;
	right: 0px;
	transition: 0.9s;
}

.side-menu .nav-item:hover::after {
	width: 100%;
}

.side-menu .btn {
	width: 90%;
	margin: 60% 15px 0;
	padding: 10px;
}

.side-menu-overlay {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #0000004d;
	opacity: 0;
	transition: all 1s;
	z-index: 900;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	visibility: hidden;
}

.side-menu-overlay.active {
	visibility: visible;
	opacity: 1;
}

/* Page header style */

header {
	z-index: -1;
}

.page-header {
    background: radial-gradient(circle, #ff3547, #be1919);
	/* padding-top: 5rem; */
}

.page-header-content img {
	max-width: 100%;
}

.play-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 13px 16px;
	text-decoration: none;
}